body {
    background-color: black;
    color: white;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
    font-family: eightBit;
}

button {
    font-family: eightBit;
    font-size: 110%;
}

/************************BEGINNING OF HEADER**************************/

#header {
    padding: 0.2em;
    margin: -2em 1em 1em 1em;
    text-align: center;

}

#title {
    font-size: 4em;
    margin-bottom: 0em;
}

#whoWon {
    display: none;
}

#playerWinName {

}

#currentTurn {
    display: none;

}

#currentPlayer {

}

#itsATie {
    display: none;
}

#settingsTitle {
    display: none;
}

#instructionsTitle {
    display: none;
}

#interactionWrapper {
    display: grid;
}

/************************BEGINNING OF START MENU**************************/

#startMenu {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 75%;
    justify-content: center;
    align-items: center;
}

.startMenuButton {
    padding: 3.5em;
}

#startButton {

}

#instructionsButton {

}

#settingsButton {

}


/************************BEGINNING OF BOARD**************************/

#board {
    display: none;
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.boardpiece {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: bold;
}

#topLeft {
    border-color: white;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 0px;

}

#topMiddle {
    border-color: white;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

#topRight {
    border-color: white;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

#centerLeft {
    border-color: white;
    border-style: solid;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 0px;
}

#center {
    border-color: white;
    border-style: solid;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

#centerRight {
    border-color: white;
    border-style: solid;
    border-top-width: 5px;
    border-right-width: 0px;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

#bottomLeft {
    border-color: white;
    border-style: solid;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

#bottomMiddle {
    border-color: white;
    border-style: solid;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 0px;
    border-left-width: 5px;
}

#bottomRight {
    border-color: white;
    border-style: solid;
    border-top-width: 5px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 5px;
}


/************************BEGINNING OF INSTRUCTIONS**************************/

#instructionsMenu {
    display: none;
}

.instruction {
    line-height: 150%;
}


/************************BEGINNING OF SETTINGS**************************/

#settingsMenu {
    display: none;
}

#volumeSliderInfo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

#volumeSliderCaption {
    flex-grow: 1;
}

  #volumeSlidecontainer {
    width: 100%;
  }
  
  #volumeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 2em;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #volumeSlider:hover {
    background: lightgray;
  }
  
  #volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5%;
    height: 100%;
    background: black;
    cursor: pointer;
  }

#settingsBackButton {

}

/************************BEGINNING OF FOOTER**************************/
#footer {
    margin: 1em;
    display: grid;
    grid-template-rows: 50% 50%;

}

#credits {
    display: flex;
    justify-content: center;
    align-items: center;
}

#links {
    display: flex;
    justify-content: center;
}

.socialIcon {
    color: white;
    transition: color 0.2s;
    font-size: 2em;
}

.socialIcon:hover {
    color: lightgray;
}

@font-face {
    font-family: eightBit;
    src: url(resources/8bitfont.ttf);
}