#changelogWrapper {
    font-size: 1.5rem;
    line-height: 1.25rem;
    max-width: 100%;
}

.update {
    margin: 0.5rem 0rem 0rem 1rem;
    border-bottom: 0.25rem solid var(--highlight);
    font-size: 1.1rem;
}

.updateli {
    margin: 3px;
}

.version {
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.CHANGELOG, .TODO{
    font-size: 1.8rem;
}

#changelogBackButton {
    width: 70%;
    justify-self: center;
    padding: 1.5rem;
    font-size: 1.25rem;
    margin: 1rem;
}

@media screen and (max-width: 500px) {
    #changelogWrapper {
        font-size: 0.6 rem;
        line-height: 1.2rem;
    }

    .update {
        margin: 0.5rem auto 0rem auto;
        font-size: 0.9rem;
    }

    .version {
        font-size: 1.1rem;
        line-height: 1.2rem;
    }

    .CHANGELOG, .TODO{
        font-size: 1rem;
    }
}