:root {
    --main: var(--monoMain);
    --secondary: var(--monoSecondary);
    --highlight: var(--monoHighlight);

    --monoMain: #000000;
    --monoSecondary: #ffffff;
    --monoHighlight: #d3d3d3;

    --gameboyMain: #0f380f;
    --gameboySecondary: #8bac0f;
    --gameboyHighlight: #9bbc0f;

    --umichMain: #00274C;
    --umichSecondary: #FFFFFF;
    --umichHighlight: #FFCB05;
}