/* Stylesheet for the footer and all elements within it */
@import url("Webpage.css");

#footer,
#footerLeftSide,
#footerRightSide {
    display: grid;
}

#footerLeftSide,
#footerRightSide,
#credits,
#links {
    justify-content: center;
    align-items: center;
}

#footer {
    grid-template-columns: 30% 40% 30%;
    padding-top: 0.5rem;
    width: 100%;
    bottom: 0;
}

#footerLeftSide {
    grid-template-rows: 45% 45%;
    grid-template-columns: 80%;
}

#footerRightSide {
    grid-template-rows: 45% 45%;
    grid-template-columns: 80%;
}

#credits {
    display: flex;
    margin: 0.5rem;
    text-align: center;
    font-size: 1rem;
}

#links {
    display: flex;
    margin: 0.5rem;
}

.socialIcon {
    color: var(--secondary);
    cursor: var(--cursorURL);
    transition: color 0.2s;
    font-size: 2rem;
    margin: 0.5rem;
}

.socialIcon:hover {
    color: var(--highlight);
}

@media screen and (max-width: 500px) {
    #credits {
        font-size: 0.75rem;
    }
}