/* Stylesheet for the header and all elements within the header */
@import url("Webpage.css");

#header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 0.2rem 0.2rem 0rem 0.2rem;
    margin: 0rem 1rem 1rem 1rem;
    text-align: center;
}

.scoreTitleWrapper {
    justify-self: center;
    align-self: center;
}

#title {
    font-size: 4rem;
    margin-bottom: 0rem;
}

#currentTurn {
    margin-bottom: 0rem;

}

#interactionWrapper {
    display: block;
}

@media screen and (max-width: 500px) {
    #title {
        font-size: 1.28rem;
    }

    .scoreTitle {
        visibility: hidden;
    }
}