/* Stylesheet for the instructions section of the webpage */
@import url("Webpage.css");

#instructionsMenu {
    display: none;
}

.instructionTitle {
    line-height: 150%;
    font-size: 2rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.instruction {
    line-height: 150%;
    margin: 0rem 1.5rem 0rem 1.5rem;
    font-size: 1.25rem;
}


#instructionsKeyPressTable {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    border-collapse: collapse;
}

.instructionsRow {
    text-align: center;
    border: solid var(--secondary) 0.1rem;
}

#instructionsBackButton {
    width: 80%;
    height: 3rem;
    margin: 3rem auto 1rem auto;
}

.instructionImage {
    margin: 1.5rem auto 1.5rem auto;
    height: 70%;
    width: auto;
}

.instructionImgDiv {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.instructionImageWin {
    float: left;
    width: 30%;
    height: auto;
    padding: 1.5%;
}

#changelogButton {
    width: 70%;
    justify-self: center;
    padding: 1.5rem;
    font-size: 1.25rem;
    margin: 1rem;
}

.license {
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .instructionTitle {
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .instruction {
        font-size: 0.6rem;
        line-height: 0.7rem;
    }

    .instructionImgDiv {
        display: grid;
        align-items: center;
    }

    .instructionImage {
        height: 40%;
        width: auto;
    }

    .instructionImageWin {
        width: 50%;
        height: auto;
        margin: 1.5rem auto 1.5rem auto;
        float: none;
    }
}