/* Stylesheet for the instructions section of the webpage */
@import url("Webpage.css");

#instructionsMenu {
    display: none;
}

.instructionTitle {
    line-height: 150%;
    font-size: 2rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.instruction {
    line-height: 150%;
    margin: 0rem 1.5rem 0rem 1.5rem;
    font-size: 1.25rem;
}

#winImages {
    display: flex;
}

#instructionsKeyPressTable {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    border-collapse: collapse;
}

.instructionsRow {
    text-align: center;
    border: solid white 0.1rem;
}

#instructionsBackButton {
    width: 80%;
    height: 3rem;
    margin: 3rem auto 1rem auto;
}

.instructionImage {
    margin: 1.5rem auto 1.5rem auto;
    height: 70%;
    width: auto;
    align-items: center;
    justify-content: center;
}

#changelogButton {
    width: 70%;
    justify-self: center;
    padding: 1.5rem;
    font-size: 1.25rem;
    margin: 1rem;
}

.license {
    font-size: 1rem;
}