/* Stylesheet for the settings menu */
@import url("Webpage.css");

#settingsMenu {
    display: none;
}

.settingsInfo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

#volumeSliderInfo {
    display: flex;
    justify-content: space-around;
}

  #volumeSlidecontainer {
    width: 100%;
  }
  
#volumeSlider {
    -webkit-appearance: none;
    width: 80%;
    height: 2rem;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
#volumeSlider:hover {
    background: lightgray;
}
  
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5%;
    height: 1.8rem;
    background: black;
    cursor: pointer;
}

#suggestionsToggleInfo {
    display: flex;
    justify-content: space-around;
}

#suggestionsToggleDiv {
    width: 80%;
    display: flex;
    justify-content: center;
}

#suggestionsSwitch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3rem;
    border: 0.2rem solid white;
}
  
#suggestionsSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .2s;
    transition: .2s;
}
  
#suggestionsSlider:before {
    position: absolute;
    content: "";
    height: 2.5rem;
    width: 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
  
input:checked + #suggestionsSlider {
    background-color: white;
}
  
input:checked + #suggestionsSlider:before {
    background-color: black;
    -webkit-transition: .2s;
    transition: .2s;

    -webkit-transform: translateX(4.7rem);
    transform: translateX(4.7rem);
}
  

#settingsBackButtonWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

#settingsBackButton {
    width: 80%;
}