#startMenuWrapper {
    display: grid;
    grid-template-rows: 40% 20% 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#startMenuTitle {
    font-size: 8rem;
    margin: 0.25em;
}

#startMenuCredits {
    font-size: 3rem;
    margin: 0.5rem;
}

#startMenuSubtitle {
    font-size: 1.5rem;
}


@media screen and (max-width: 500px) {
    #startMenuTitle {
        font-size: 2rem;
    }

    #startMenuCredits {
        font-size: 1.25rem;
    }

    #startMenuSubtitle {
        font-size: 0.75rem;
    }
}