:root {
    --main: var(--monoMain);
    --secondary: var(--monoSecondary);
    --highlight: var(--monoHighlight);

    --monoMain: #000000;
    --monoSecondary: #ffffff;
    --monoHighlight: #d3d3d3;

    --gameboyMain: #0f380f;
    --gameboySecondary: #8bac0f;
    --gameboyHighlight: #9bbc0f;

    --vampireMain: #180704;
    --vampireSecondary: #ff380d;
    --vampireHighlight: #ffffff;

    --snesMain: #cec9cc;
    --snesSecondary: #4f43ae;
    --snesHighlight: #211a21;

    --halloweenMain: #1c1c1c;
    --halloweenSecondary: #f4831b;
    --halloweenHighlight: #902ebb;

    --umichMain: #00274C;
    --umichSecondary: #FFFFFF;
    --umichHighlight: #FFCB05;

    --bubblegumMain: #ff6f77;
    --bubblegumSecondary: #c00000;
    --bubblegumHighlight: #ffdee3;
}