/* Stylesheet for HTML tags and the overarching wrapper for the page, as well as any custom font families or other CSS items*/
body {
    background-color: black;
    color: white;
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    font-family: eightBit;
}

p {
    margin: 0;
}

button {
    font-family: eightBit;
    font-size: 110%;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    height: 100%;
    /* display: grid; */
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

@font-face {
    font-family: eightBit;
    src: url(../resources/8bitfont.ttf);
}