/* Stylesheet for HTML tags and the overarching wrapper for the page, as well as any custom font families or other CSS items*/
html {
    scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background-color: var(--main);
    color: var(--secondary);
    cursor: var(--cursorURL);
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    font-family: var(--font);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    margin: 0;
}

button {
    font-family: var(--font);
    font-size: 110%;
    color: var(--main);
    border: var(--main);
    background-color: var(--secondary);
    cursor: var(--cursorURL);
}

#volumeSlider:focus {
    background-color: var(--highlight);;
    outline: none;
}

.focusable:focus {
    background-color: var(--highlight);;
    outline: none;
}

#wrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
}

#hidden {
    display: none;
}

.link:visited, .link:link {
    color: var(--secondary);
}

.link:hover {
    color: var(--highlight);;
}

::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--main);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);;
  }

@media screen and (max-width: 500px) {
    h2 {
        font-size: 1em;
    }

    #wrapper {
        grid-template-rows: 10% 75% 15%;
    }

    .notInMobileMode, #instructionsKeyPressTable {
        display: none;
    }
}